header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding-bottom: 4px;
}

.head-logo {
    width: 50px;
    height: 50px;
}

h1 {
    text-align: center;
}

.description {
    background-color: coral;
    color: white;
    /* height: 470px; */
    padding: 10px;
    border: 1px solid black;
    height: auto;
}

#north3 {
    height: 200px;
    border: 2px solid purple;
}

.fig1 {
    float: left;
}

.fig1 {
    clear: left;
}

#glacier {
    height: 200px;
    border: 2px solid purple;
}

.fig2 {
    float: right;
}

.fig2 {
    clear: right;
}

.p2 {
    clear: left;
    padding: 0 35px;
}

table {
    border: 2px solid black;
}

th {
    background-color: aqua;
}

#row1 {
    background-color: lightpink;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-li {
    text-decoration: none;
    font-weight: bold;
    border-right: 1px solid grey;
    padding-right: 20px;
}

.p3 {
    text-align: center;
}

#tourist1,
#tourist2,
#north2,
#north1 {
    height: 300px;
    width: 300px;
    border: 2px solid black;
}

.pg2-mainDiv,
.pg3-mainDiv {
    display: flex;
    justify-content: center;
}

#hikeP,
#northP {
    border: 3px solid darkorchid;
    height: 200px;
    width: 300px;
    margin-top: 0;
    text-align: center;
    background-color: bisque;
    padding: 50px;
}

input {
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
}

textarea {
    height: 100px;
    width: 362px;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-left: 315px;
    cursor: pointer;
}

.contact-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formP {
    color: grey;
    font-style: italic;
    text-align: center;
}

.headingP {
    margin-left: 25px;
}

.p-heading {
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 0;
    font-weight: bold;
    font-style: italic;
}

.contact-logo {
    width: 60px;
}

.contactDiv {
    display: flex;
    align-items: center;
}

.telDiv,
.insta,
.emailDiv {
    padding-left: 15px;
}

/* .emailDiv { */
/* margin-right: 743px;
    margin-top: 20px;
    position: fixed;
} */

/* .instaDiv {
    float: right;
    margin-right: 700px;
    margin-top: 20px;
} */